.nav-bar{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  padding: 20px 40px;
  position: sticky; /* Make the nav bar sticky */
  top: 0;
  z-index: 1000;
  opacity: 0.85;
}

.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: #021526;
  gap: 20px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-weight: 600;
}

.nav-bar img{
  width: 50px;
  aspect-ratio: 1;
}

.nav-list li{
  cursor: pointer;
  transition: all 0.5s
}
.nav-list li:hover{
  color: white;
  transition: all 0.5s;
}

.nav-list-container {
  display: flex;
}

.bar-image {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #021526;
    padding: 20px 0px;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    color: #ffffff;
  }

  .nav-list-container.open .nav-list {
    display: flex;
  }

  .bar-image {
    transform: scale(0.5);
    display: block;
  }
}

